/batDemo/Temp
/batDemo/obj
/batDemo/Library
/batDemo/Unity.Rider.Editor.csproj
/batDemo/Unity.TextMeshPro.csproj
/batDemo/Unity.TextMeshPro.Editor.csproj
/batDemo/Unity.Timeline.csproj
/batDemo/Unity.Timeline.Editor.csproj
/batDemo/Unity.VSCode.Editor.csproj
/batDemo/UnityEditor.SpatialTracking.csproj
/batDemo/UnityEditor.TestRunner.csproj
/batDemo/UnityEditor.UI.csproj
/batDemo/UnityEditor.XR.LegacyInputHelpers.csproj
/batDemo/UnityEngine.SpatialTracking.csproj
/batDemo/UnityEngine.TestRunner.csproj
/batDemo/UnityEngine.UI.csproj
/batDemo/UnityEngine.XR.LegacyInputHelpers.csproj
/batDemo/Assembly-CSharp.csproj
/batDemo/Assembly-CSharp-Editor.csproj
/batDemo/batDemo.sln
/batDemo/com.unity.multiplayer-hlapi.Editor.csproj
/batDemo/com.unity.multiplayer-hlapi.Runtime.csproj
/batDemo/com.unity.multiplayer-weaver.Editor.csproj
/batDemo/DOTween.Modules.csproj
/batDemo/Mirror.Authenticators.csproj
/batDemo/Mirror.CompilerSymbols.csproj
/batDemo/Mirror.Components.csproj
/batDemo/Mirror.csproj
/batDemo/Mirror.Editor.csproj
/batDemo/Mirror.Examples.csproj
/batDemo/Mirror.Weaver.csproj
/batDemo/Ninja.WebSockets.csproj
/batDemo/Unity.2D.Sprite.Editor.csproj
/batDemo/Unity.2D.Tilemap.Editor.csproj
/batDemo/Unity.CollabProxy.Editor.csproj
/batDemo/Unity.Postprocessing.Editor.csproj
/batDemo/Unity.Postprocessing.Runtime.csproj
/batDemo/batDemo.csproj
/batDemo/batDemo.Editor.csproj
